{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

      <div class="post-meta">
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            {{ range . }}
              <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
            {{ end }}
          </div>
        {{- end }}
        {{ if .Site.Params.moreMeta -}}
        <span class="more-meta"> {{ T "wordCount" .WordCount }} </span>
        <span class="more-meta"> {{ T "readingTime" .ReadingTime }} </span>
        {{- end }}

        {{ if and .Site.Params.busuanzi.enable .Site.Params.busuanzi.pagePV -}}
        {{ $valueSpan := printf `<span id="busuanzi_value_page_pv"><img src="%s" alt="spinner.svg"/></span>` ("img/spinner.svg" | relURL) -}}
        <span id="busuanzi_container_page_pv" class="more-meta"> {{ printf (T "pagePV") $valueSpan | safeHTML }} </span>
        {{- end }}
        <!-- id 将作为查询条件 -->
        <span id="{{ .URL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
            <span class="leancloud-visitors-count more-meta">0</span>
            <span class="post-meta-item-text">times read</span>
        </span>

        <!-- 为了增加"/"的值 -->
        <!-- <span id="/" class="leancloud_visitors" data-flag-title="Kaiya's Blog">
            <i class="leancloud-visitors-count">0</i>
            <em class="post-meta-item-text">times read</em>
        </span> -->


        <!-- {{ if and .Site.Params.Valine.enable .Site.Params.Valine.pagePV -}}
        {{ $valueSpan := printf `<span id="/post/selenium" class="leancloud_visitors" data-flag-title="Using Selenium in Python"><img src="%s" alt="spinner.svg"/></span>` ("img/spinner.svg" | relURL) -}}
        <em class="post-meta-item-text">阅读量 </em>
        <i class="leancloud-visitors-count">0</i>
        <span id="busuanzi_container_page_pv" class="more-meta"> {{ printf (T "pagePV") $valueSpan | safeHTML }} </span>
        {{- end }} -->

      </div>
    </header>

    <!-- TOC -->
    {{ partial "post/toc.html" . }}

    <!-- Outdated Info Warning -->
    {{ partial "post/outdated-info-warning.html" . }}

    <!-- Content -->
    <div class="post-content">
      
      <!-- detect if a post has images -->
      <!--featured_image-->
        {{ $scratch := newScratch }}

        {{ $images := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
        {{ if ge (len $images) 1}}
            {{ $.Scratch.Set "postHasImages" true }}
        {{ end }}

      <!-- lazyload -->
      {{ $reAltIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" />" }}
      {{ $reAltOut :=  ( printf "<figure class=\"figureforimg\"><img src=\"/img/ring.svg\" data-sizes=\"auto\" data-src=\"$1\" alt=\"$2\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>") }}
      {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

      {{ $reAltTitleIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" title=\"([^\"]+)?\" />" }}
      {{ $reAltTitleOut := ( printf "<figure><img data-src=\"%s$1\" data-sizes=\"auto\" alt=\"$2\" title=\"$3\" class=\"lozad\"><figcaption class=\"image-caption\">$2</figcaption></figure>") }}
      {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

      {{ $finalContent }}
    </div>

    <!-- Copyright -->
    {{ partial "post/copyright.html" . }}

    <!-- Reward -->
    {{ partial "post/reward.html" . }}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . }}
          <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
        </div>
      {{- end }}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection }}
          <a class="prev" href="{{ .URL }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{ .URL }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
      {{ partial "post/adsense.html" . }}

    </footer>
  </article>
{{- end }}
